body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000;
}

.container {
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bgImg.jpg);
    margin: 10px 100px;
    top: 5px;
    position: relative;
}

.calculator {
    width: 300px;
    height: 450px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 50px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
    height: 100px;
}

.input {
    text-align: right;
    height: 50px;
    margin: 10px 50px;
    padding-top: 15px;
    font-size: 18px;
    color: #e94396;
}

.output {
    text-align: right;
    height: 50px;
    margin: 10px 50px;
    padding: 8px auto;
    font-size: 25px;
    color: #9d7de9;
}

.keyboard {
    height: 350px;
}

.operator,
.number,
.empty {
    width: 40px;
    height: 40px;
    margin: 14px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,
.empty {
    background-color: #eaedef;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {
    outline: 0;
}

button {
    font-size: 20px;
}

button:nth-child(4) {
    background-color: #366d70;
}

button:nth-child(8) {
    background-color: #ffa500;
}

button:nth-child(12) {
    background-color: #f08080;
}

button:nth-child(16) {
    background-color: #7d93e0;
}

button:nth-child(20) {
    background-color: #9477af;
}